@import "../../../variables.scss";

#Signup {
    background-color: white;
    width: 500px;
    height: 340px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    position: relative;

    .close-btn {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 20px;
        top: 20px;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.5s;

        &:hover {
            opacity: 1;
        }
    }

    h1 {
        font-family: SuiGeneris;
        font-size: 14pt;
        text-transform: uppercase;
        margin-top: 0;
    }

    .button {
        width: 300px;
    }
}
