@import "../../variables.scss";

#FriendList {
    width: 250px;
    height: 70%;
    // background-color: rgba(48, 48, 48, 0.95);
    border-radius: 3px;
    position: fixed;
    right: 20px;
    top: 70px;
    z-index: 4;
    padding: 10px;
    overflow-y: auto;
    transition: opacity 0.5s 0ms, right 0.5s 0s, background-color 0.5s 0ms;

    .dialog-button {
        position: absolute;
        width: 20px;
        height: 20px;
        padding: 5px;
        opacity: 0.3;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .close_arrow {
        top: 10px;
        right: 5px;
    }

    .switch-arrows {
        top: 10px;
        left: 15px;
    }

    h1 {
        font-size: 12pt;
        margin-top: 5px;
    }

    .title {
        color: white;
        text-transform: uppercase;
        font-family: SuiGeneris;
    }

    .small-title {
        font-size: 6pt;
        margin: 5px 0;
        text-align: left;
    }

    .empty-title {
        text-align: center;
    }

    .received-box {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 300px) {
    #FriendList {
        width: 200px;
    }
}

@media only screen and (max-width: 250px) {
    #FriendList {
        width: 50px;
        padding-top: 50px;
        top: 100px;

        .title {
            display: none;
        }
        .close_arrow {
            top: 10px;
            right: 5px;
        }

        .switch-arrows {
            top: 10px;
            left: 5px;
        }

        .create-btn {
            width: 100%;
            margin: 15px 0 5px 0;
            font-size: 6pt;
        }
    }
}
