@import "../../variables.scss";

.UserRow {
    width: auto;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;

    &.received {
        background-color: rgba(0, 132, 255, 0.3);
        cursor: default;

        &:hover {
            background-color: rgba(0, 132, 255, 0.5);
        }
    }

    &.selected {
        // background-color: rgba(255, 255, 255, 0.3);

        & > .actions {
            width: 40px;
            opacity: 0.8;
        }
        & > .received-actions {
            width: 70px;
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);

        & > .actions {
            width: 40px;
            opacity: 0.8;
        }
        & > .received-actions {
            width: 70px;
        }
    }

    .group-avatar {
        background-color: white;
        padding: 1px;
    }

    span {
        position: relative;
        width: 30px;
        height: 30px;
        margin-right: 20px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .active-dot {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            // background-color: green;
            border: 2px solid white;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    p {
        margin: 0;
    }

    .actions {
        width: 0;
        height: 100%;
        z-index: 3;
        background: rgb(255, 255, 255);
        opacity: 0;
        position: absolute;
        right: 0;
        transition: 0.5s;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 10px;

        .btn {
            border-radius: 0;
            width: 20px;
            height: 20px;
            margin: 0;

            &.received-btn {
                width: 15px;
                height: 15px;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }

    .notification-dot {
        width: 7px;
        height: 7px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 25px;
        right: 15px;
        background-color: red;
        border-radius: 50%;
    }
}
