@font-face {
    font-family: SuiGeneris;
    src: url(./assets/suigeneris.ttf);
}

// $primary: rgb(0, 119, 255);
// $primary-light: rgb(197, 224, 255);
// $primary-hover: rgb(53, 147, 255);
// $primary: rgb(66, 44, 92);
$primary: #00a110;
$primary-light: rgb(197, 224, 255);
$primary-hover: rgb(53, 147, 255);
$border: rgb(155, 155, 155);
$label: rgb(66, 66, 66);
$message: rgb(226, 226, 226);
$comment: rgb(213, 219, 224);
$comment-hover: rgb(232, 236, 240);
