@font-face {
    font-family: SuiGeneris;
    src: url(./assets/suigeneris.ttf);
}

$primary: rgb(0, 119, 255);
$primary-hover: rgb(53, 147, 255);
$border: rgb(155, 155, 155);
$label: rgb(66, 66, 66);
