@import "../../variables.scss";

#Game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex;
        justify-content: space-around;
        padding: 20px;

        .left-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
            margin-left: 20px;
        }

        .gameBigTile {
            width: 100%;
            height: fit-content;
            position: relative;
            // border: 1px solid $border;
            // background-color: rgb(247, 247, 247);
            margin-right: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

            .banner {
                width: 100%;
                height: auto;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .title {
                color: white;
                font-size: 30pt;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                font-family: SuiGeneris;
                text-transform: uppercase;
                -webkit-text-stroke: 1px black;
                margin: 0;
            }

            h1 {
                font-size: 12pt;
                text-align: left;
                margin-left: 10px;
                font-family: SuiGeneris;
                font-weight: 1;
            }

            .description {
                font-size: 12pt;
                margin: 10px;
                text-align: left;
            }

            .participate {
                width: 100%;
                height: 50px;
                margin: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        .waiting-room {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

            h1 {
                font-family: SuiGeneris;
                font-size: 14pt;
                text-transform: uppercase;
            }

            .players {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;

                .person {
                    margin: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    #Game .content .gameBigTile {
        .title {
            font-size: 20pt;
        }
        .description {
            font-size: 12pt;
        }
    }
}

@media only screen and (max-width: 650px) {
    #Game .content .gameBigTile {
        .title {
            font-size: 14pt;
        }
        .description {
            font-size: 10pt;
        }
    }
}

@media only screen and (max-width: 490px) {
    #Game .content .gameBigTile {
        .title {
            font-size: 10pt;
        }
        .description {
            font-size: 8pt;
        }
        h1 {
            font-size: 10pt;
        }
    }
}
@media only screen and (max-width: 350px) {
    #Game .content .gameBigTile {
        .title {
            display: none;
        }
        .description {
            font-size: 6pt;
        }
        h1 {
            font-size: 8pt;
        }
    }
}
